* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 14px Helvetica, Arial;
}

input {
  outline: 0;
}

form {
  position: fixed;
  bottom: 5px;
  width: 100%;
}

form input {
  padding: 10px;
  margin-right: .5%;
  width: 90%;
}

form button {
  padding: 10px;
  width: 9%;
}